{% extends 'baseA.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}<title>Ajout</title>{% endblock %}
</head>
<body>
<div class="content">

    <div class="main-header"> 
        {% block texte %}        
        <div class="text">
            <h4>Payement</h4>
            <span>Gestioncaisse</span>
        </div>
        {% endblock %}

    </div>
    
    <main class="main">
        {% block forms %}
        <div class="forms">
            <div class="vide" ></div>
            <form action="" method="POST">
                {% csrf_token %}
                <div style="text-align: center; margin-bottom: 18px;">Effectuer un Payement</div>
                <div class="form-group">
                   <label for="{{ form.inscription.id_for_label }}">{{ form.inscription.label }}</label>
                    {{ form.inscription }}
                </div>
        
                <div class="form-group">
                    <label for="{{ form.motif.id_for_label }}">{{ form.motif.label }}</label><br>
                    {{ form.motif }}
                </div>
        
                <div class="form-group">
                    <label for="{{ form.montant.id_for_label }}">{{ form.montant.label }}</label><br>
                    {{ form.montant }}
                </div>
        
                <div class="form-group">
                    <label for="{{ form.date_paiement.id_for_label }}">{{ form.date_paiement.label }}</label><br>
                    <div class="champ">{{ form.date_paiement }} </div>
                </div>

        
                <div class="form-group">
                    <label for="{{ form.mode_paiement.id_for_label }}">{{ form.mode_paiement.label }}</label><br>
                    {{ form.mode_paiement }}
                </div><br>
                <button type="submit" class="ajout">Ajouter</button>
                <button type="reset" class="annuler">annuler</button>
            </form>
        </div>
        {% endblock %} 
    </main>
</div>

</body>
</html>
