{% extends 'base/baseform.html' %}
{% load static %}

    {% block titre %}<title>Ajout</title>{% endblock %}
    {% block styles %}
    <style>
        .alert {
            padding: 15px;
            margin-bottom: 20px;
            border: 1px solid transparent;
                border-radius: 4px;
        }

        .alert-warning {
            background-color: #fff3cd; /* Fond jaune clair */
            color: #856404; /* Texte sombre */
            border-color: #ffeeba; /* Bordure jaune */
        }
    </style>
    {% endblock %}

    {% block contenu %}
    <div class="container">
        <h4 style="text-align: center;">Editer Inscription</h4>
        {% if msg %}
            <div style= " text-align: center; background-color: #fff3cd;  color: #856404; padding: 5px;margin-bottom: 20px; margin-top: 12px;">
                {{ msg }}
            </div>
        {% endif %}
        
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                {{ form.classe.label_tag }}<br>
                 {{ form.classe }}
             </div>
     
             <div class="form-group">
                {{ form.eleve.label_tag }}<br>
                 {{ form.eleve }}
             </div>
     
             <div class="form-group">
                {{ form.annee_scolaire.label_tag }}<br>
                 {{ form.annee_scolaire }}
             </div>         
            <div class="btn">
                <button type="submit">Ajouter</button>
                <button type="reset">
                    <a href="{% url 'inscription_index' %}" style="text-decoration: none; color: white; cursor: pointer;" > 
                        annuler
                    </a>
                </button>
            </div>
        </form>
    </div>

    {% endblock %}
