{% extends 'base/base1.html' %}
{% load static %}

    {% block titre %}<title>Formations</title>{% endblock %}
    <style>
        .edit, .delete {
            text-decoration: none;
            color: rgb(31, 29, 29);
            margin-left: 10px;
        }
        .edit:hover, .delete:hover {
            color: #007bff;
            transition: color 1.5s ease;
        }
    </style>



        {% block form %} 
        <form action="" method="get">
            <input type="search" name="recherche" placeholder="rechercher">
            <input type="submit" name="" id="rech" value="rechercher">
        </form>
        {% endblock %}
        
        {% block ajouter %} 
            <a href="{% url 'formation_create' %}"><img src="{% static '/img/Ellipse 1 (2).png' %}"></a>
        {% endblock %}
    
            {% block title %} Classes {% endblock %}
       
        {% block contenu %}  
            <div class="tab">
                
                <table>
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Niveau</th>
                            <th>libelé</th>
                            <th>Cycle</th>
                            <th>Frais Scolarite (FCFA)</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for list in liste %}
                        <tr>
                            <td>{{ list.id }}</td >
                            <td>
                                <a href="{% url 'recalcitrant' id=list.id  %}" style="text-decoration: none; color: black; cursor: pointer;">
                                    {{ list.niveau }}
                                </a>
                            </td>
                            <td>
                                <a href="{% url 'recalcitrant' id=list.id  %}" style="text-decoration: none; color: black; cursor: pointer;">
                                    {{ list.libele }}
                                </a>
                            </td>
                            <td>{{ list.cycle }}</td>
                            <td>{{ list.frais_scolarite }}</td>
                            <td>
                                <a href="{% url 'formation_adit' id=list.id %}" class="edit"><i class="fas fa-edit"></i></a>
                                /
                                <a class="delete" href="{% url 'formation_delete' id=list.id %}"><i class="fas fa-trash-alt"></i></a>
                            </td>
                        </tr>
                        {% endfor %}
                    
                    </tbody>
                </table>
            </div>   
        {% endblock %}
        
    
</body>
</html>