{% extends 'base/base1.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block titre %}<title>Apprenants</title>{% endblock %}
    
</head>
<body>
    <div class="content">
        {% block form %} 
        <form action="" method="get">
            <input type="search" name="recherche" placeholder="rechercher">
            <input type="submit" name="" id="rech" value="rechercher">
        </form>
        {% endblock %}
        {% block ajouter %} 
            <a href="{% url 'eleve_create' %}"><img src="{% static '/img/Ellipse 1 (2).png' %}"></a>
        {% endblock %}
    
            {% block title %} Apprenants {% endblock %}
       
        {% block contenu %} 

            <div class="tab">
                
                <table>
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nom</th>
                            <th>Prenom</th>
                            <th>Date naissance</th>
                            <th>Sexe</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for list in liste %}
                        <tr>
                            <td>{{ list.matricule}}</td>
                            <td>{{ list.nom }}</td>
                            <td>{{ list.prenom }}</td>
                            <td>{{ list.date_naissance }}</td>
                            <td>{{ list.sexe }}</td>
                            <td><a href="{% url 'eleve_edit' id=list.id %}"><i class="fas fa-edit"></i></a> / <a href="{% url 'eleve_delete' id=list.id %}"><i class="fas fa-trash-alt"></i></a></td>
                        </tr>
                        {% endfor %}
                    
                    </tbody>
                </table>
            </div>   
        </main>
        {% endblock %}    
</body>
</html>